SECRET_KEY=troque-esta-chave-em-producao-por-uma-string-aleatoria-longa
ACCESS_TOKEN_EXPIRE_MINUTES=480
DATABASE_URL=sqlite:///../database/financeiro.db
UPLOAD_DIR=./app/uploads
BACKUP_DIR=../backups
